form {
    width:80%;
}
form > * {
  font-size: calc(10px + 5vmin);
}
.name-form-error {
    font-size: .5em;
    display:block;
    color: rgb(255, 106, 106);
}
.form-group {
    text-align: left;        
}
.flex-text-even {
    display: flex;
    justify-content: space-evenly;
}
